
/* start global rules */

body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    background: #11998e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
    width: 400px;
    margin: 1em;
    padding-bottom: 2em;
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
}

.container .title {
    margin: 0;
    padding: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}

li{
    list-style: none;
}

.new::after{
    content: "New!";
    margin-left: 1ch;
    background-color: lightgreen;
}

/* end global rules */


/* start header */

.header .container{
    padding-top: 1em;
    padding-bottom: 1em;
}

.header .container .header-text{
    margin: 0;
    text-align: center;
    color: black;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: -0.1ch;
}

/* end header */