@import "https://fonts.googleapis.com/css?family=Share+Tech+Mono";

@font-face {
    font-family: "Digital";
    src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot");
    src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot?#iefix") format("embedded-opentype"),
        url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff2") format("woff2"),
        url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff") format("woff"),
        url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.ttf") format("truetype"),
        url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.svg#Digital-7") format("svg");
}

#root {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cool-background {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#calc {
    background-color: black;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);

    width: 16em;
    height: 25em;
    font-size: large;

    box-sizing: border-box;
    padding: 1em;
}

#displayBox {
    grid-area: 1/1/2/5;
    background-color: #3479f8;
    text-align: end;
}

#clear {
    grid-area: 2 / 1 / span 1 / span 2;
}
#divide {
    grid-area: 2 / 3 / span 1 / span 1;
}
#multiply {
    grid-area: 2 / 4 / span 1 / span 1;
}
#one {
    grid-area: 3 / 1 / span 1 / span 1;
}
#two {
    grid-area: 3 / 2 / span 1 / span 1;
}
#three {
    grid-area: 3 / 3 / span 1 / span 1;
}
#subtract {
    grid-area: 3 / 4 / span 1 / span 1;
}
#four {
    grid-area: 4 / 1 / span 1 / span 1;
}
#five {
    grid-area: 4 / 2 / span 1 / span 1;
}
#six {
    grid-area: 4 / 3 / span 1 / span 1;
}
#add {
    grid-area: 4 / 4 / span 1 / span 1;
}
#seven {
    grid-area: 5 / 1 / span 1 / span 1;
}
#eight {
    grid-area: 5 / 2 / span 1 / span 1;
}
#nine {
    grid-area: 5 / 3 / span 1 / span 1;
}
#equals {
    grid-area: 5 / 4 / span 2 / span 1;
}
#zero {
    grid-area: 6 / 2 / span 1 / span 1;
}
#decimal {
    grid-area: 6 / 1 / span 1 / span 1;
}
#ans {
    grid-area: 6 / 3 / span 1 / span 1;
}

#displayBox {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 1em;
    font-family: digital !important;
}

#d_0{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

#display {
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #295fc2;
    width: 10em;
    text-align: center;
}

#d_1{
    width: 100%;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

#operation {
    text-align: start;
}
